<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="text-white bg-danger p-4 m-0">Productos Angular</h1>
    </header>
    <nav class="container-fluid color">
        <section class="row">
            <section class="col-12">
                <ol class="d-flex">
                    <li class="me-5 text-white">Home</li>
                    <li class="me-5 text-white">Productos</li>
                    <li class="me-5 text-white">Crear Producto</li>
                </ol>
            </section>
        </section>
    </nav>
    <main></main>
    <footer></footer>
</body>
</html>
